 <%= link_to "<button type='button' class='btn btn-outline-secondary btn-sm' ><img src = 'https://icongr.am/fontawesome/mail-reply.svg?size=26&color=currentColor'></button>".html_safe, '/usuarios'%>
<div class="container">
    <h3> <%= t('.title')%> </h3>
    <%= render 'form' %>
</div>
